/* body{
    background-color: #b267d8;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*:focus{
    outline: none;
} */