<h3 class="error__title">Page Not Found</h3>
  <div class="error__image"> <img src="http://cdn.ebaumsworld.com/thumbs/2013/05/09/031752/83284188/sadcat.jpg" alt="sad cat"></div>
  <h3 class="error__title">Where Am I?</h3>